.join
  border: 1px solid red
  background: var(--softBlue)
  color: white
  padding: 3em 0
  text-align: center
  small
    text-transform: uppercase //mayusculas
    letter-spacing: 4px //espacios entre letras
.form
    .u-button
        margin: 0
    &-input
        width: 100%
        padding: 1em
        box-sizing: border-box
        margin-bottom: 1em
        border-radius: 10px
        border: none
        font-size: 1em
        outline: 0 //para quitar el borde del input
        &::-webkit-input-placeholder
          color var(--lightGray)