.menu
    
    //margin: 10px
    display: none
    position: absolute
    left: 0
    right: 0
    top: 100%
    background: rgba(47, 53, 79, .9) 
    height: 100vh

    ul
      padding: 0
      list-style: none
    li
      border-top 1px solid var(--grayishBlue)
      &:last-child
        a
         border: 2px solid white 
         border-radius: 5px
         margin-top: 1em
         padding: .7em

    a
      //border: 1px solid red
      color: white
      text-decoration: none
      text-transform: uppercase
      display: block      
      text-align: center
      padding: 1em
      letter-spacing: 2px

    &-checkbox
        display none
        &:checked
          
          & ~ .header
            background: rgba(47, 53, 79, .9)
            .menu-open
              background-image url('../images/icon-close.svg') !important
            
            & .header-logo             
              background-image: url('../images/logo-bookmark white.svg') !important
            & .menu
              display: block
            


    &-open
        user-select: none
        width: 40px
        height: 40px
        display inline-flex
        cursor pointer
        background url('../images/icon-hamburger.svg') no-repeat center
    